<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity 3</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="(item, index) in items" :key="index">
                {{ index + 1 }}. {{ item }} <button @click="removeItem(index)">Remove</button>
            </li>
        </ul>
        <input v-model="newItem" placeholder="Add new item" />
        <button @click="addItem">Add Item</button>
    </div>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    items: ['Learn Vue', 'Practice JavaScript', 'Build Projects'],
                    newItem: ''
                };
            },
            methods: {
                addItem() {
                    if (this.newItem) {
                        this.items.push(this.newItem);
                        this.newItem = '';
                    }
                },
                removeItem(index) {
                    this.items.splice(index, 1);
                }
            }
        });

        app.mount('#app');
    </script>
</body>

</html>