/*CONTENT */
.SKINCARE-NEW .overlap-2 {
    position: absolute;
    width: 1225px;
    height: 611px;
    top: 145px;
    left: 280px;
    background-color: #ffffff;
    border-radius: 14px;
}

.SKINCARE-NEW .overlap-3 {
    position: absolute;
    width: 1069px;
    height: 52px;
    top: 34px;
    left: 106px;
}

.SKINCARE-NEW .rectangle-5 {
    position: absolute;
    width: 908px;
    height: 39px;
    top: 0;
    left: 161px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid;
    border-color: #bfbfbf;
}

.SKINCARE-NEW .text-wrapper-14 {
    top: 7px;
    left: 0;
    position: absolute;
    width: 166px;
    font-family: "Abel-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 23px;
    letter-spacing: 0;
    line-height: normal;
}

.SKINCARE-NEW .overlap-4 {
    position: absolute;
    width: 1112px;
    height: 419px;
    top: 88px;
    left: 83px;
}

.SKINCARE-NEW .text-wrapper-15 {
    top: 1px;
    left: 31px;
    position: absolute;
    width: 166px;
    font-family: "Abel-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 23px;
    letter-spacing: 0;
    line-height: normal;
}

.SKINCARE-NEW .rectangle-6 {
    position: absolute;
    width: 224px;
    height: 39px;
    top: 0;
    left: 186px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #bfbfbf;
}

.SKINCARE-NEW .chevron-down-2 {
    top: 2px;
    left: 376px;
    position: absolute;
    width: 29px;
    height: 32px;
}


.SKINCARE-NEW .text-wrapper-16 {
    top: 2px;
    left: 496px;
    position: absolute;
    width: 166px;
    font-family: "Abel-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 21px;
    letter-spacing: 0;
    line-height: normal;
}

.SKINCARE-NEW .rectangle-7 {
    position: absolute;
    width: 224px;
    height: 39px;
    top: 0;
    left: 697px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #bfbfbf;
}

.SKINCARE-NEW .chevron-down-3 {
    top: 3px;
    left: 892px;
    position: absolute;
    width: 29px;
    height: 32px;
}

.SKINCARE-NEW .group {
    position: absolute;
    width: 1112px;
    height: 418px;
    top: 1px;
    left: 0;
    z-index: 1;
}

.SKINCARE-NEW .text-wrapper-17 {
    position: absolute;
    width: 163px;
    top: 63px;
    left: 0;
    font-family: "Abel-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 23px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
}

.SKINCARE-NEW .overlap-5 {
    position: absolute;
    width: 986px;
    height: 40px;
    top: 137px;
    left: 106px;
}

.SKINCARE-NEW .text-wrapper-18 {
    position: absolute;
    width: 79px;
    top: 0;
    left: 0;
    font-family: "Abel-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 23px;
    letter-spacing: 0;
    line-height: normal;
}

.SKINCARE-NEW .rectangle-8 {
    position: absolute;
    width: 908px;
    height: 35px;
    top: 0;
    left: 78px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid;
    border-color: #bfbfbf;
}

.SKINCARE-NEW .overlap-6 {
    position: absolute;
    width: 1047px;
    height: 148px;
    top: 209px;
    left: 45px;
}

.SKINCARE-NEW .text-wrapper-19 {
    position: absolute;
    width: 145px;
    top: 0;
    left: 0;
    font-family: "Abel-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 23px;
    letter-spacing: 0;
    line-height: normal;
}

.SKINCARE-NEW .rectangle-9 {
    position: absolute;
    width: 908px;
    height: 148px;
    top: 0;
    left: 139px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid;
    border-color: #bfbfbf;
}


.SKINCARE-NEW .overlap-7 {
    position: absolute;
    width: 908px;
    height: 42px;
    top: 63px;
    left: 184px;
}

.SKINCARE-NEW .rectangle-10 {
    position: absolute;
    width: 908px;
    height: 34px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid;
    border-color: #bfbfbf;
}

.SKINCARE-NEW .rectangle-11 {
    position: absolute;
    width: 129px;
    height: 33px;
    top: 1px;
    left: 1px;
    background-color: #f3f3f3;
    border: 1px solid;
    border-color: #bfbfbf;
    cursor: pointer;
}

.SKINCARE-NEW .text-wrapper-20 {
    position: absolute;
    width: 118px;
    top: 6px;
    left: 13px;
    font-family: "Abel-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}



.SKINCARE-NEW .text-wrapper-24 {
    position: absolute;
    width: 146px;
    top: 376px;
    left: 28px;
    font-family: "Abel-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 21px;
    letter-spacing: 0;
    line-height: normal;
}

.SKINCARE-NEW .overlap-group-2 {
    position: absolute;
    width: 882px;
    height: 42px;
    top: 376px;
    left: 185px;
}

.SKINCARE-NEW .rectangle-12 {
    position: absolute;
    width: 882px;
    height: 34px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid;
    border-color: #bfbfbf;
}

.SKINCARE-NEW .rectangle-11 {
    position: absolute;
    width: 129px;
    height: 33px;
    top: 1px;
    left: 1px;
    background-color: #f3f3f3;
    border: 1px solid;
    border-color: #bfbfbf;
    cursor: pointer;
}

.SKINCARE-NEW .text-wrapper-25 {
    position: absolute;
    width: 140px;
    top: 7px;
    left: 12px;
    font-family: "Abel-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}


.button-link {
    text-decoration: none;
    color: black;
}

.button {
    cursor: pointer;
}

.button:hover {
    background: #9c54a8; /* Change background on hover */
}





/* FILER DROPDOWNS */
.text-wrapper-15, .text-wrapper-16 {
    font-family: Abel, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000;
}

.rectangle-6, .rectangle-7 {
    width: 226px;
    height: 39px;
    background: #ffffff;
    border: 1px solid #bfbfbf;
    position: relative;
}

.chevron-down-2, .chevron-down-3 {
    width: 29px;
    height: 32px;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 2;
}

.rotated {
    transform: rotate(180deg);
}
.dropdown-container-1-small{
    top: 40px;
    left: 186px;
    visibility: hidden;
    opacity: 0;
    width: 205px;
    background-color: white;
    padding: 10px;
    position: absolute;
    transition: visibility 0s, opacity 0.3s ease;
    border: 1px solid #bfbfbf;
    z-index: 1000;
}

.dropdown-container-2-small {
    top: 40px;
    left: 697px;
    visibility: hidden;
    opacity: 0;
    width: 203px;
    background-color: white;
    padding: 10px;
    position: absolute;
    transition: visibility 0s, opacity 0.3s ease;
    border: 1px solid #bfbfbf;
    z-index: 1000;
}

.dropdown-container-1-small.show, .dropdown-container-2-small.show {
    visibility: visible;
    opacity: 1;
}

.category-item-small {
    display: block;
    cursor: pointer;
    padding: 5px;
    font-family: Abel, sans-serif;
    font-size: 23px;
    color: #000;
}

.category-item-small:hover {
    background-color: #FFD8FA;
}

.rectangle-1-container-small{
    position: absolute;
    width: 150px;
    height: 39px;
    top: 5px;
    left: 210px;
    color: #000000;
    font-family: Arial;
    font-size: 21px;
    font-weight: 400;
    line-height: 31.86px;
    z-index: 10;

}

.rectangle-2-container-small{
    position: absolute;
    width: 150px;
    height: 39px;
    top: 5px;
    left: 725px;
    color: #000000;
    font-family: Arial;
    font-size: 21px;
    font-weight: 400;
    line-height: 31.86px;
    z-index: 10;

}




