.rectangle-a-uploaad {
    position: absolute;
    width: 806px;
    height: 39px;
    top: 0;
    left: 158px;
    background: #ffffff;
    border: 1px solid #bfbfbf;
    z-index: 18;
    overflow: hidden;
    border-radius: 6px;
  }

  .button-b-uploaad {
    position: relative;
    width: 133px;
    height: 37px;
    margin: 0 0 0 -1px;
    cursor: pointer;
    background: #f4f4f4;
    border: 1px solid #bfbfbf;
    z-index: 19;
  }

  .fda-approved-uploaad {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 46px;
    top: 4px;
    left: 0;
    color: #000000;
    font-family: Abel, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 31.86px;
    text-align: left;
    white-space: nowrap;
    z-index: 12;
  }

  .choose-file-c-uploaad {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 45px;
    top: 4px;
    left: 171px;
    color: #000000;
    font-family: Abel, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 31.86px;
    text-align: left;
    white-space: nowrap;
    z-index: 20;
  }

  .no-file-chosen-d-uploaad {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 45px;
    top: 4px;
    left: 315px;
    color: #000000;
    font-family: Abel, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 31.86px;
    text-align: left;
    white-space: nowrap;
    z-index: 21;
  }

  .flex-row-ac-uploaad {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 296px;
    height: 56px;
    margin: 37px 0 0 698px;
    z-index: 4;
  }

  .cancel-uploaad {
    flex-shrink: 0;
    position: relative;
    height: 24px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 3;
    text-decoration: none; /* Remove underline */
  }

  .button-e-uploaad {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 214px;
    padding: 16px 48px 16px 48px;
    cursor: pointer;
    background: #bf68ce;
    border: none;
    z-index: 4;
    border-radius: 4px;
  }

  .view-all-products-uploaad {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #f9f9f9;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 5;
  }

  .image-uploaad {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    width: 168px;
    height: 45px;
    top: 335px;
    left: 0;
    color: #000000;
    font-family: Abel, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 31.86px;
    text-align: right;
    white-space: nowrap;
    z-index: 8;
  }







  .rectangle-5-uploaad {
    position: absolute;
    width: 804px;
    height: 39px;
    top: 0;
    left: 0;
    background: #ffffff;
    border: 1px solid #bfbfbf;
    z-index: 14;
    overflow: hidden;
    border-radius: 6px;
  }
  .button-uploaad {
    position: relative;
    width: 133px;
    height: 37px;
    margin: 0 0 0 -1px;
    cursor: pointer;
    background: #f4f4f4;
    border: 1px solid #bfbfbf;
    z-index: 15;
  }
  .choose-file-uploaad {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 45px;
    top: 0;
    left: 10px;
    color: #000000;
    font-family: Abel, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 31.86px;
    text-align: left;
    white-space: nowrap;
    z-index: 16;
  }
  .no-file-chosen-uploaad {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 45px;
    top: 3px;
    left: 157px;
    color: #000000;
    font-family: Abel, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 31.86px;
    text-align: left;
    white-space: nowrap;
    z-index: 17;
  }
  .flex-row-eb-uploaad {
    position: relative;
    width: 887px;
    height: 50px;
    margin: 37px 0 0 106px;
    z-index: 10;
  }
  .rectangle-6-uploaad {
    position: absolute;
    width: 803px;
    height: 40px;
    top: 0;
    left: 84px;
    background: #ffffff;
    border: 1px solid #bfbfbf;
    z-index: 10;
    border-radius: 6px;
  }
  .price-uploaad {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 45px;
    top: 5px;
    left: 0;
    color: #000000;
    font-family: Abel, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 31.86px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
  }
  .flex-row-7-uploaad {
    position: relative;
    width: 948px;
    height: 264px;
    margin: 33px 0 0 45px;
    z-index: 13;
  }
  .rectangle-8-uploaad {
    position: absolute;
    width: 804px;
    height: 246px;
    top: 0;
    left: 144px;
    background: #ffffff;
    border: 1px solid #bfbfbf;
    z-index: 13;
    border-radius: 6px;
  }
  .description-uploaad {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 46px;
    top: 4px;
    left: 0;
    color: #000000;
    font-family: Abel, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 31.86px;
    text-align: left;
    white-space: nowrap;
    z-index: 11;
  }
  .flex-row-b-uploaad {
    position: relative;
    width: 964px;
    height: 50px;
    margin: 17px 0 0 29px;
    z-index: 21;
  }







  .upload-product-uploaad {
    display: block;
    position: relative;
    height: 28px;
    margin: 53px 0 0 21px;
    color: #363636;
    font-family: Poppins, var(--default-font-family);
    font-size: 30px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    z-index: 1;
  }
  .flex-row-de-uploaad {
    position: relative;
    width: 973px;
    height: 47px;
    margin: 93px 0 0 20px;
    z-index: 7;
  }
  .rectangle-uploaad {
    position: absolute;
    width: 804px;
    height: 39px;
    top: 0;
    left: 169px;
    background: #ffffff;
    border: 1px solid #bfbfbf;
    z-index: 7;
    border-radius: 6px;
  }
  .product-name-uploaad {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 45px;
    top: 2px;
    left: 0;
    color: #000000;
    font-family: Abel, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 31.86px;
    text-align: left;
    white-space: nowrap;
    z-index: 6;
  }
  .flex-row-uploaad {
    position: relative;
    width: 826px;
    height: 48px;
    margin: 32px 0 0 30px;
    z-index: 27;
  }
  .rectangle-1-uploaad {
    position: absolute;
    width: 226px;
    height: 39px;
    top: 0;
    left: 159px;
    background: #ffffff;
    border: 1px solid #bfbfbf;
    z-index: 1;
  }

  .rectangle-2-uploaad {
    position: absolute;
    width: 226px;
    height: 39px;
    top: 0;
    left: 600px;
    background: #ffffff;
    border: 1px solid #bfbfbf;
    z-index: 1;
  }


  .rectangle-1-container{
    position: absolute;
    width: 226px;
    height: 39px;
    top: 3px;
    left: 30px;
    color: #000000;
    font-family: Abel, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 31.86px;
    z-index: 10;

  }

  .rectangle-2-container{
    position: absolute;
    width: 226px;
    height: 39px;
    top: 3px;
    left: 40px;
    color: #000000;
    font-family: Abel, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 31.86px;
    z-index: 10;

  }

  .rectangle-1-uploaad-2 {
    position: absolute;
    width: 226px;
    height: 39px;
    top: 0;
    left: 159px;
    background: #ffffff;
    border: 1px solid #bfbfbf;
    z-index: 1;
  }


  .chevron-up-uploaad {
    position: absolute;
    width: 29px;
    height: 32px;
    margin: 3px 0 0 193px;
    z-index: 24;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .chevron-up-uploaad.rotated {
    transform: rotate(180deg);
  }


  .icon-uploaad {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 1px 0 0 6.25px;
    background: url(./assets/img/chevron-up.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 25;
  }

  .icon-4-uploaad {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 1px 0 0 6.25px;
    background: url(./assets/img/chevron-up.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 29;
  }
  .product-subtype-uploaad {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 45px;
    top: 1px;
    left: 428px;
    color: #000000;
    font-family: Abel, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 31.86px;
    text-align: left;
    white-space: nowrap;
    z-index: 26;
  }
  .product-type-uploaad {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 45px;
    top: 3px;
    left: 0;
    color: #000000;
    font-family: Abel, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 31.86px;
    text-align: left;
    white-space: nowrap;
    z-index: 22;
  }
  .flex-row-c-uploaad {
    position: relative;
    width: 804px;
    height: 48px;
    margin: 34px 0 0 189px;
    z-index: 17;
  }





  .main-container-uploaad {
    overflow: hidden;
  }

  .main-container-uploaad,
  .main-container-uploaad * {
    box-sizing: border-box;
  }

  input,
  select,
  textarea,
  button {
    outline: 0;
  }

  .main-container-uploaad {
    position: relative;
    width: 1048px;
    height: 973px;
    margin: -500px 0 0 150px;
    z-index: 1;
  }

  .frame-uploaad {
    position: absolute;
    width: 1037px;
    height: 973px;
    top: 0;
    left: 11px;
    font-size: 0px;
    background: #ffffff;
    border: 1px solid #000000;
    overflow: hidden;
    border-radius: 4px;
  }



/* FILTER DROPDOWN */
.dropdown-container-uploaad {
  visibility: hidden; /* Hidden initially */
  opacity: 0; /* Start fully transparent */
  width: 225px;
  background-color: white;
  padding: 10px;
  position: relative;
  transition: visibility 0s, opacity 0.3s ease; /* Transition for smooth appearance */
  z-index: 1000;
  margin: 635px 0 0 192px;
  border: 1px solid #bfbfbf;
}

.dropdown-container-uploaad.show {
  visibility: visible; /* Show when the class is added */
  opacity: 1; /* Fully opaque */
}

.category-item-uploaad {
  display: block; /* Change to block to stack items vertically */
  margin-bottom: 5px; /* Add some spacing between items */
  cursor: pointer;
  height: 45px;
  color: #000000;
  font-family: Abel, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 31.86px;
}



/* FILTER DROPDOWN FOR SKINCARE */
.dropdown-container-2-uploaad {
  visibility: hidden; /* Hidden initially */
  opacity: 0; /* Start fully transparent */
  width: 227px;
  background-color: white;
  padding: 10px;
  position: relative;
  margin: 600px 0 0 191px;
  transition: visibility 0s, opacity 0.3s ease; /* Transition for smooth appearance */
  z-index: 1000;
  border: 1px solid #bfbfbf; /* Add gray border */
  border-radius: 4px; /* Optional: add slight rounding to the corners */
}

.dropdown-container-2-uploaad.show {
  visibility: visible; /* Show when the class is added */
  opacity: 1; /* Fully opaque */
}

.category-item-2-uploaad {
  display: block; /* Stack items vertically */
  margin-bottom: 2px; /* Add spacing between items */
  cursor: pointer;
  height: 45px;
  color: #000000;
  font-family: Abel, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
}

.chevron-up-uploaad,
.chevron-up-3-uploaad {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.chevron-up-uploaad.rotated,
.chevron-up-3-uploaad.rotated {
  transform: rotate(180deg);
}

.chevron-up-3-uploaad {
  position: relative;
  width: 29px;
  height: 32px;
  margin: 3px 0 0 189px;
  z-index: 28;
  overflow: hidden;
}

.category-item-uploaad:hover,
.category-item-2-uploaad:hover {
  background-color: #FFD8FA; /* Hover color */
}










/* ALERT MESSAGE POP UP  */

.main-container-aleert {
  overflow: hidden;
}

.main-container-aleert,
.main-container-aleert * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container-aleert {
  position: relative;
  width: 857px;
  height: 447px;
  margin: -300px 0 0 240px;
  font-size: 0px;
  z-index: 10;
}

.uploaded-product-aleert {
  display: block;
  position: relative;
  height: 30px;
  margin: 163px 0 0 78px;
  color: #242424;
  font-family: Poltawski Nowy, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}

.product-review-aleert {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 719px;
  height: 120px;
  margin: 35px 0 0 72px;
  color: #949494;
  font-family: Poppins, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  z-index: 6;
}

.rectangle-aleert {
  position: absolute;
  width: 857px;
  height: 447px;
  top: 0;
  left: 0;
  background: #ffffff;
  border-radius: 10px;
}

.circle-aleert {
  position: absolute;
  width: 111px;
  height: 103px;
  top: 35px;
  left: 372px;
  z-index: 1;
  overflow: hidden;
}

.icon-aleert {
  position: relative;
  width: 96.5px;
  height: 89.833px;
  margin: 6.583px 0 0 7.25px;
  background: url(circle.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 2;
}

.check-aleert {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 63px;
  left: 403px;
  z-index: 3;
  overflow: hidden;
}

.icon-1-aleert {
  position: relative;
  width: 36px;
  height: 26px;
  margin: 10px 0 0 6px;
  background: url(check.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 4;
}

.rectangle-2-aleert {
  position: absolute;
  width: 94px;
  height: 58px;
  top: 373px;
  left: 381px;
  cursor: pointer;
  background: #44aee8;
  border: none;
  z-index: 7;
  border-radius: 15px;
}

.ok-aleert {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 35px;
  height: 30px;
  top: 387px;
  left: 409px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
  z-index: 8;
}








