.rectangle-favorites {
    position: relative;
    width: 1440px;
    height: 100px;
    margin: 36px 0 0 0;
    background: #edd3ee;
    z-index: 1;
}

.rectangle-2-favorites {
    position: absolute;
    width: 241px;
    height: 55px;
    top: 22px;
    left: 1090px;
    background: #ffffff;
    z-index: 74;
    border-radius: 10px;
}

.search-bar{
    position: absolute;
    left: -780px;
    top: 1px;
}


.search-product-favorites {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 30px;
    top: 34px;
    left: 400px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    z-index: 72;
}


.group-input-favorites {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    background: transparent;
    border: none;
    z-index: 75;
    outline: none;
    font-size: 18px;
    font-family: 'Abel', sans-serif;
}

.search-product-favorites {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 30px;
    top: 34px;
    left: 900px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    z-index: 72;
}
