

/* CONTENT */

  .main-container-2,
  .main-container-2 * {
    box-sizing: border-box;
  }

  input,
  select,
  textarea,
  button {
    outline: 0;
  }

  .main-container-2 {
    position: relative;
    width: 1440px;
    height: 844px;
    margin: 0 auto;
    top: 210px;
    left: -40px;
  }
  .flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 1356px;
    height: 30px;
    margin: 0 0 0 30px;
    z-index: 2;
  }
  .line {
    flex-shrink: 0;
    position: relative;
    width: 476px;
    height: 3px;
    background: url(/assets/img/95e840e9-6432-4f7f-84c9-00b9403fa315.png)
      no-repeat center;
    background-size: cover;
    z-index: 1;
  }
  .title-holder {
    flex-shrink: 0;
    position: relative;
    height: 30px;
    color: #242424;
    font-family: Poltawski Nowy, var(--default-font-family);
    font-size: 35px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
  }
  .line-1 {
    flex-shrink: 0;
    position: relative;
    width: 476px;
    height: 3px;
    background: url(/assets/img/95e840e9-6432-4f7f-84c9-00b9403fa315.png)
      no-repeat center;
    background-size: cover;
    z-index: 2;
  }
  .rectangle {
    position: relative;
    width: 1440px;
    height: 100px;
    margin: 36px 0 0 0;
    background: #edd3ee;
    z-index: 1;
  }
  .rectangle-2 {
    position: absolute;
    width: 241px;
    height: 55px;
    top: 22px;
    left: 1090px;
    background: #ffffff;
    z-index: 74;
    border-radius: 10px;
  }
  .group-input {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    background: transparent;
    border: none;
    z-index: 75;
    outline: none;
    font-size: 18px;
    font-family: 'Abel', sans-serif;
  }
  .search-here {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 30px;
    top: 12px;
    left: 14px;
    color: #9f9f9f;
    font-family: Poppins, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    z-index: 76;
  }
  .search-product {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 30px;
    top: 34px;
    left: 900px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    z-index: 72;
  }

.chosen-filter {
    display: none;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 30px;
    top: 35px;
    left: 250px;
    padding: 0 10px;
    border-radius: 5px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    z-index: 68;
    transition: opacity 0.3s ease-in-out;
}

.chosen-filter.active {
    display: flex;
    opacity: 1;
}


  .filter {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 30px;
    top: 35px;
    left: 150px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    z-index: 68;
  }
  .filtering {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 37px;
    left: 115px;
    z-index: 69;
    overflow: hidden;
  }
  .vector {
    position: relative;
    width: 20.048px;
    height: 17.667px;
    margin: 4.262px 0 0 2.476px;
    background: url(/assets/img/filter-icon.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 70;
  }

  .chevron-down {
    position: absolute;
    width: 22px;
    height: 26px;
    top: 38px;
    left: 210px;
    z-index: 77;
    overflow: hidden;
  }
  .icon {
    position: relative;
    width: 13px;
    height: 8.5px;
    margin: 8.75px 0 0 4.5px;
    background: url(/assets/img/chevron-down-img.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 78;
  }

