 .about-us-2 {
    display: block;
    position: relative;
    height: 50px;
    margin: 150px 0 0 535px;
    color: #731b81;
    font-family: Poppins, var(--default-font-family);
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: left;
    white-space: nowrap;
    z-index: 14;
  }
  .flex-row-f {
    position: relative;
    width: 1065px;
    height: 442px;
    margin: 47px 0 0 90px;
    z-index: 13;
  }
  .rectangle-3 {
    position: absolute;
    width: 1065px;
    height: 434px;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.6);
    z-index: 12;
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.05);
    padding-bottom: 4%;
  }
  .glow-and-grace-4 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 1020px;
    height: 395px;
    top: 47px;
    left: 24px;
    color: #000000;
    font-family: Abel, var(--default-font-family);
    font-size: 23px;
    font-weight: 400;
    line-height: 29.312px;
    text-align: center;
    z-index: 13;
  }

  .contact-us-2 {
    display: block;
    position: relative;
    height: 50px;
    margin: 150px 0 0 535px;
    color: #731b81;
    font-family: Poppins, var(--default-font-family);
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: left;
    white-space: nowrap;
    z-index: 53;
  }
  .flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 1170px;
    height: 457px;
    margin: 45px 0 0 49px;
    z-index: 30;
  }
  .frame {
    flex-shrink: 0;
    position: relative;
    width: 340px;
    height: 457px;
    font-size: 0px;
    background: rgba(255, 255, 255, 0.6);
    z-index: 30;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.05);
  }
  .fill-form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 250px;
    height: 42px;
    margin: 213px 0 0 41px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    z-index: 39;
  }
  .emails {
    display: block;
    position: relative;
    height: 21px;
    margin: 13px 0 0 41px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 41;
  }
  .line {
    position: relative;
    width: 270px;
    height: 1px;
    margin: 22px 0 0 35px;
    background: url(../assets/img/line2.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 50;
  }
  .address {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 212px;
    height: 42px;
    margin: 70px 0 0 41px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    z-index: 52;
  }
  .frame-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 32px;
    position: absolute;
    width: 262px;
    height: 149px;
    top: 28px;
    left: 35px;
    z-index: 31;
  }
  .frame-4 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 135px;
    z-index: 32;
  }
  .icons-phone {
    flex-shrink: 0;
    position: relative;
    width: 40px;
    height: 40px;
    background: #bf68ce;
    z-index: 33;
    overflow: hidden;
    border-radius: 31px;
  }
  .vector {
    position: relative;
    width: 21.5px;
    height: 21.502px;
    margin: 9.249px 0 0 9.25px;
    background: url(../assets/img/phone.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 34;
  }
  .call-us {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 35;
  }
  .frame-5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 262px;
    height: 21px;
    padding: 0;
    z-index: 36;
  }
  .frame-6 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 91px;
    height: 24px;
    padding: 0;
    z-index: 37;
  }
  .available-days-week {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 21px;
    top: 78px;
    left: 35px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 40;
  }
  .phone {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 21px;
    top: 104px;
    left: 35px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 42;
  }
  .line-7 {
    position: absolute;
    width: 270px;
    height: 1px;
    top: 143px;
    left: 35px;
    background: url(../assets/img/line1.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 48;
  }
  .icons-mail {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 161px;
    left: 35px;
    background: #bf68ce;
    z-index: 43;
    overflow: hidden;
    border-radius: 43px;
  }
  .vector-8 {
    position: relative;
    width: 21.5px;
    height: 15.5px;
    margin: 12.25px 0 0 9.25px;
    background: url(../assets/img/mail.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 44;
  }
  .write-to-us {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 170px;
    left: 91px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 45;
  }
  .icons-mail-9 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 328px;
    left: 35px;
    background: #bf68ce;
    z-index: 38;
    overflow: hidden;
    border-radius: 43px;
  }
  .vector-a {
    position: absolute;
    width: 6.47%;
    height: 6.04%;
    top: 73.09%;
    left: 12.94%;
    background: url(../assets/img/location.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 46;
  }
  .address-b {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 335px;
    left: 91px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 51;
  }

  .frame-c {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 87%;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.05);
    padding: 30px;
    margin: 20px;
}

.frame-d {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}

.frame-e {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
}

.placebox-info,
.placebox-info-f,
.placebox-info-13 {
    flex: 1;
}

label {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    color: #000000;
    margin-bottom: 5px;
    opacity: 0.7;
}

.place-to-info-box,
.place-to-info-box-12,
.place-info-box {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #fff;
}

.placebox-info-16 {
    width: 100%;
}

.message-container {
  width: 94%;
  margin: 20px 0 20px 0;
  padding-right: 16px;
}


.your-message {
  display: block;
  margin-bottom: 5px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  color: #000;
  opacity: 0.7;
}

.place-info-box-17 {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  resize: vertical;
  height: 150px;
}

.button-container {
    align-self: flex-end;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 23px;
}


.button-18 {
  width: 150px;
  padding: 15px;
  background-color: #bf68ce;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button-18:hover {
    background-color: #a653b1;
}

.message {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    color: #f9f9f9;
    text-align: center;
}

.asterisk, .asterisk-11, .asterisk-15 {
    color: #db4444;
    font-size: 16px;
}
