.main-container-orders,
.main-container-orders * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container-orders {
    position: relative;
    width: 1198.579px;
    height: 1103px;
    margin: 0 auto;
    margin: -520px 0 0 80px;
}
.rectangle-orders {
    position: relative;
    width: 1194.176px;
    height: 180px;
    margin: 0 0 0 4.403px;
    border: 1px solid #948f95;
    z-index: 3;
}
.flex-column-fbe-orders {
    position: absolute;
    width: 257px;
    height: 106px;
    top: 26px;
    left: 11.597px;
    font-size: 0px;
    z-index: 6;
}
.delivery-address-orders {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    width: 193px;
    height: 39px;
    margin: 0 0 0 0;
    color: #4b4b4b;
    font-family: Abel, var(--default-font-family);
    font-size: 28px;
    font-weight: 400;
    line-height: 35.684px;
    text-align: right;
    white-space: nowrap;
    z-index: 5;
    -webkit-text-stroke: 1px #4b4b4b;
}
.dianne-orders {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    width: 257px;
    height: 39px;
    margin: 28px 0 0 0;
    color: rgba(0, 0, 0, 0.9);
    font-family: Abel, var(--default-font-family);
    font-size: 28px;
    font-weight: 400;
    line-height: 35.684px;
    text-align: right;
    white-space: nowrap;
    z-index: 6;
}
.pine-lane-orders {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 39px;
    top: 81px;
    left: 329.249px;
    color: rgba(0, 0, 0, 0.9);
    font-family: Abel, var(--default-font-family);
    font-size: 28px;
    font-weight: 400;
    line-height: 35.684px;
    text-align: left;
    white-space: nowrap;
    z-index: 7;
}
.change-orders {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 39px;
    top: 86px;
    left: 1022.435px;
    color: #3555ff;
    font-family: Abel, var(--default-font-family);
    font-size: 35px;
    font-weight: 400;
    line-height: 39px;
    text-align: left;
    white-space: nowrap;
    z-index: 4;
    text-decoration: none;
}


.rectangle-1-orders {
    position: relative;
    width: 377.804px;
    height: 175px;
    margin: 660px 0 0 820.776px;
    font-size: 0px;
    background: #ffffff;
    border: 1px solid #000000;
    z-index: 1;
    overflow: visible auto;
}
.choose-payment-method-orders {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    width: 278px;
    height: 39px;
    margin: 16px 0 0 13.224px;
    color: rgba(0, 0, 0, 0.9);
    font-family: Abel, var(--default-font-family);
    font-size: 28px;
    font-weight: 400;
    line-height: 35.684px;
    text-align: right;
    white-space: nowrap;
    z-index: 29;
}
.frame-orders {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 16px;
    position: absolute;
    width: 35.226px;
    height: 32px;
    top: 68px;
    left: 21.017px;
    z-index: 20;
}
.radio-button-orders {
    flex-shrink: 0;
    position: relative;
    width: 34px;
    height: 32px;
    background: #ffffff;
    z-index: 21;
}

.cash-on-delivery-orders {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 73px;
    left: 59.224px;
    color: rgba(0, 0, 0, 0.9);
    font-family: Abel, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 23;
}


.frame-2-orders {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 155px;
    position: absolute;
    width: 307.351px;
    height: 32px;
    top: 118px;
    left: 21.017px;
    z-index: 11;
}
.frame-3-orders {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 40px;
    z-index: 12;
}
.frame-4-orders {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 40px;
    z-index: 13;
}
.radio-button-5-orders {
    flex-shrink: 0;
    position: relative;
    width: 34px;
    height: 32px;
    z-index: 14;
}

.ellipse-orders-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5px;
    left: 0;
    background: url(./assets/img/empty-circle.png)
    no-repeat center;
    background-size: 100% 100%;
    z-index: 15;
    cursor: pointer;
}

.ellipse-orders-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(./assets/img/empty-circle.png)
    no-repeat center;
    background-size: 100% 100%;
    z-index: 22;
    cursor: pointer;
}

.credit-debit-card-orders {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 130px;
    left: 59.224px;
    color: rgba(0, 0, 0, 0.9);
    font-family: Abel, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 23;
}
.image-orders {
    position: absolute;
    width: 63px;
    height: 13px;
    top: 137px;
    left: 300.224px;
    background: url(./assets/img/paypal.png)
    no-repeat center;
    background-size: cover;
    z-index: 41;
}

.image-7-orders {
    position: absolute;
    width: 35px;
    height: 11px;
    top: 138px;
    left: 245px;
    background: url(./assets/img/visa.png)
    no-repeat center;
    background-size: cover;
    z-index: 17;
}

.button-orders {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: relative;
    width: 224px;
    margin: 32px 0 0 973.834px;
    padding: 16px 48px 16px 48px;
    cursor: pointer;
    background: #ffd95b;
    border: none;
    z-index: 1;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    transition: background 0.3s, color 0.3s;
}

/* Hover effect */
.button-orders:hover {
    background: #e6c53f;
}

.view-all-products-orders {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #393939;
    font-family: Poppins, var(--default-font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 2;
    -webkit-text-stroke: 1px #393939;
}
.rectangle-8-orders {
    position: absolute;
    width: 1194.176px;
    height: 483px;
    top: 235px;
    left: 4.403px;
    background: #ffffff;
    border: 2px solid #313031;
    z-index: 8;
}
.flex-row-bdbd-orders {
    position: relative;
    width: 504.619px;
    height: 39px;
    margin: 36px 0 0 641.122px;
    z-index: 32;
}
.quantity-orders {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 111.844px;
    height: 39px;
    top: 0;
    left: 0;
    color: #000000;
    font-family: Abel, var(--default-font-family);
    font-size: 28px;
    font-weight: 400;
    line-height: 35.684px;
    text-align: center;
    white-space: nowrap;
    z-index: 30;
}
.price-orders {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 111.844px;
    height: 39px;
    top: 0;
    left: 184.939px;
    color: #000000;
    font-family: Abel, var(--default-font-family);
    font-size: 28px;
    font-weight: 400;
    line-height: 35.684px;
    text-align: center;
    white-space: nowrap;
    z-index: 31;
}
.subtotal-orders {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 145.309px;
    height: 39px;
    top: 0;
    left: 359.31px;
    color: #000000;
    font-family: Abel, var(--default-font-family);
    font-size: 28px;
    font-weight: 400;
    line-height: 35.684px;
    text-align: center;
    white-space: nowrap;
    z-index: 32;
}
.flex-row-orders {
    position: relative;
    width: 1086.793px;
    height: 126px;
    margin: 43px 0 0 41.391px;
    z-index: 34;
}
.image-9-orders {
    position: absolute;
    width: 167.326px;
    height: 126px;
    top: 0;
    left: 0;
    background: url(./assets/img/shampoo.png)
    no-repeat center;
    background-size: cover;
    z-index: 33;
}
.tresemme-keratin-smooth-orders {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 371.639px;
    height: 96px;
    top: 30px;
    left: 182.297px;
    color: #000000;
    font-family: Abel, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 31.86px;
    text-align: center;
    z-index: 34;
}
.quantity-a-orders {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    width: 28.181px;
    height: 39px;
    top: 48px;
    left: 627.031px;
    color: #000000;
    font-family: Abel, var(--default-font-family);
    font-size: 28px;
    font-weight: 400;
    line-height: 35.684px;
    text-align: right;
    white-space: nowrap;
    z-index: 26;
}
.price-b-orders {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 111.627px;
    height: 23.473px;
    top: 52px;
    left: 784.859px;
    color: #000000;
    font-family: Abel, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 23.473px;
    text-align: center;
    white-space: nowrap;
    z-index: 19;
}
.total-price-orders {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 111.627px;
    height: 23.473px;
    top: 52px;
    left: 975.166px;
    color: #000000;
    font-family: Abel, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 23.473px;
    text-align: center;
    white-space: nowrap;
    z-index: 24;
}
.flex-row-b-orders {
    position: relative;
    width: 1086.793px;
    height: 126px;
    margin: 59px 0 0 41.391px;
    z-index: 40;
}
.image-c-orders {
    position: absolute;
    width: 167.326px;
    height: 126px;
    top: 0;
    left: 0;
    background: url(./assets/img/364d56df40316b3bfd8bd79596c2934559c11d67.png)
    no-repeat center;
    background-size: cover;
    z-index: 39;
}
.text-10-orders {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 371.639px;
    height: 96px;
    top: 18px;
    left: 178.774px;
    color: #000000;
    font-family: Abel, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 31.86px;
    text-align: center;
    z-index: 40;
}
.text-11-orders {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    width: 28.181px;
    height: 39px;
    top: 48px;
    left: 627.031px;
    color: #000000;
    font-family: Abel, var(--default-font-family);
    font-size: 28px;
    font-weight: 400;
    line-height: 35.684px;
    text-align: right;
    white-space: nowrap;
    z-index: 38;
}
.text-12-orders {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 111.627px;
    height: 23.473px;
    top: 52px;
    left: 784.859px;
    color: #000000;
    font-family: Abel, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 23.473px;
    text-align: center;
    white-space: nowrap;
    z-index: 36;
}
.text-13-orders {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 111.627px;
    height: 23.473px;
    top: 52px;
    left: 975.166px;
    color: #000000;
    font-family: Abel, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 23.473px;
    text-align: center;
    white-space: nowrap;
    z-index: 37;
}
.text-14-orders {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    width: 210.478px;
    height: 39px;
    top: 265px;
    left: 0;
    color: #4b4b4b;
    font-family: Abel, var(--default-font-family);
    font-size: 28px;
    font-weight: 400;
    line-height: 35.684px;
    text-align: right;
    white-space: nowrap;
    z-index: 27;
    -webkit-text-stroke: 1px #4b4b4b;
}
.section-7-orders {
    position: absolute;
    width: 377.804px;
    height: 72px;
    top: 743px;
    left: 820.776px;
    background: #ffffff;
    border: 1px solid #000000;
    z-index: 9;
}
.text-15-orders {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 111.627px;
    height: 23.473px;
    top: 20px;
    left: 201.826px;
    color: #ff0000;
    font-family: Abel, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 23.473px;
    text-align: center;
    white-space: nowrap;
    z-index: 25;
}
.text-16-orders {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    width: 240.42px;
    height: 39px;
    top: 759px;
    left: 743.277px;
    color: rgba(0, 0, 0, 0.9);
    font-family: Abel, var(--default-font-family);
    font-size: 28px;
    font-weight: 400;
    line-height: 35.684px;
    text-align: right;
    white-space: nowrap;
    z-index: 10;
}




/* CREDIT/DEBIT CARD POP-UP */


.main-container-cards,
.main-container-cards * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container-cards {
    position: relative;
    width: 1100px;
    height: 1000px;
    margin: -1000px 0 0 0;
    z-index: 10;
}

.rectangle-1-cards {
    position: absolute;
    width: 690px;
    height: 621px;
    top: 641px;
    left: 341px;
    background: #ffffff;
    z-index: 999;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.rectangle-3-8 {
    position: absolute;
    width: 1440px;
    height: 2341px;
    top: -100px;
    left: -70px;
    background: rgba(0, 0, 0, 0.100);
    z-index: 9;
    transition: top 0.5s ease-in-out;
}

.add-new-card-cards {
    display: block;
    position: relative;
    height: 39px;
    margin: 29px 0 0 21px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 28px;
    font-weight: 400;
    line-height: 39px;
    text-align: left;
    white-space: nowrap;
    z-index: 2;
}
.card-details-cards {
    display: block;
    position: relative;
    height: 39px;
    margin: 71px 0 0 21px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 37.5px;
    text-align: left;
    white-space: nowrap;
    z-index: 3;
}
.rectangle-2-cards {
    position: relative;
    width: 646px;
    height: 60px;
    margin: 21px 0 0 25px;
    background: #ffffff;
    border: 1px solid #787878;
    z-index: 8;
    overflow: hidden;
    border-radius: 6px;
    font-size: 25px;
    font-family: 'Abel', sans-serif;
}

.card-number-cards {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 39px;
    top: 8px;
    left: 13px;
    color: #bfbfbf;
    font-family: Abel, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 31.86px;
    text-align: left;
    white-space: nowrap;
    z-index: 8;
}
.flex-row-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 642px;
    height: 50px;
    margin: 34px 0 0 25px;
    z-index: 7;
}
.rectangle-3-cards {
    flex-shrink: 0;
    position: relative;
    width: 421px;
    height: 60px;
    background: #ffffff;
    border: 1px solid #787878;
    z-index: 6;
    overflow: hidden;
    border-radius: 6px;
    font-size: 25px;
    font-family: 'Abel', sans-serif;
}



.expiry-date-cards {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 39px;
    top: 6px;
    left: 13px;
    color: #bfbfbf;
    font-family: Abel, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 31.86px;
    text-align: left;
    white-space: nowrap;
    z-index: 10;
}
.rectangle-4-cards {
    flex-shrink: 0;
    position: relative;
    width: 197px;
    height: 60px;
    background: #ffffff;
    border: 1px solid #787878;
    z-index: 7;
    overflow: hidden;
    border-radius: 6px;
    font-size: 25px;
    font-family: 'Abel', sans-serif;
}

.rectangle-5-cards {
    position: relative;
    width: 646px;
    height: 60px;
    margin: 34px 0 0 25px;
    background: #ffffff;
    border: 1px solid #787878;
    z-index: 9;
    overflow: hidden;
    border-radius: 6px;
    font-size: 25px;
    font-family: 'Abel', sans-serif;
}
.name-on-card-cards {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 39px;
    top: 7px;
    left: 13px;
    color: #bfbfbf;
    font-family: Abel, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 31.86px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
}
.flex-row-d-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 358px;
    height: 64px;
    margin: 100px 0 0 307px;
    z-index: 13;
}
.rectangle-cancel-cards {
    flex-shrink: 0;
    position: relative;
    width: 172px;
    height: 64px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #000000;
    z-index: 12;
    border-radius: 15px;
    transition: background-color 0.3s, border-color 0.3s;
}

.rectangle-cancel-cards:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: #333333;
}

.rectangle-submit-cards {
    flex-shrink: 0;
    position: relative;
    width: 172px;
    height: 64px;
    cursor: pointer;
    background-color: #E7A3F2;
    border: 1px solid #000000;
    z-index: 12;
    border-radius: 15px;
    transition: background-color 0.3s, border-color 0.3s;
}

.rectangle-submit-cards:hover {
    background-color: #D08CE3;
    border-color: #333333;
}


.cancel-button-cards {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 39px;
    top: 11px;
    left: 37px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 37.5px;
    text-align: left;
    white-space: nowrap;
    z-index: 15;
}
.rectangle-button-cards {
    flex-shrink: 0;
    position: relative;
    width: 172px;
    height: 64px;
    cursor: pointer;
    background: transparent;
    background: no-repeat center;
    background-size: cover;
    border: none;
    z-index: 13;
}
.submit-button-cards {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 39px;
    top: 11px;
    left: 38px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 37.5px;
    text-align: left;
    white-space: nowrap;
    z-index: 14;
}
.cvv-input-cards {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 39px;
    top: 932px;
    left: 825px;
    color: #bfbfbf;
    font-family: Abel, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 31.86px;
    text-align: left;
    white-space: nowrap;
    z-index: 11;
}

